h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: gray;
    background-color: antiquewhite;
    margin-top: 0;
    padding: 10px; 
} 


body {
    background-color: aliceblue;
    
} 

button {
    margin-bottom: 20px;
    background-color: purple;
}

