{% extends 'base.html' %} 
{% block content %}
{% include 'navbar.html' %}

<div class="max-w-3xl mx-auto bg-white p-8 mt-12 shadow-lg rounded-lg">
  <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center">Add New Order</h1>

  <form method="POST" class="space-y-6">
    {% csrf_token %}
    <div class="grid grid-cols-1 gap-6">
      {{ form.as_p }}
    </div>
    <div class="text-center">
      <input type="submit" value="Add Order" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg shadow-md transition duration-300 cursor-pointer">
    </div>
  </form>
</div>

{% endblock %}
