<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <h1>{{ name }}</h1>
    <br />  
    <p>Masukkan pesanan anda:</p>
    
    <!-- Form untuk mengirim data pesanan -->
    <form action="{% url 'main:enter' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="order" id="orderInput" placeholder="Masukkan pesanan anda" autocomplete="off" required>
        <button type="submit">Enter</button>
    </form>

    <p id="outputMessage"></p>
    
</body>
</html>




